@media screen and (min-width: 576px) {
	main .editor h2 {font-size: 54px !important;}
	main .editor button {width: 390px !important;}
	main .slider img {margin: 0 50px !important;}
	main .user p {margin: 48px 0 25px 0 !important;}
	main .people .wrap-row {flex-direction: row !important;}
	main .subscribe input[type="email"] {
		width: 335px !important;
		margin: 0 20px 0 0 !important;
	}

	main .popular .wrapper, footer .wrapper {flex-direction: row !important;}
	main .popular h3 {margin: 79px 0 58px 0 !important;}
	main .popular .wrap {margin: 0 auto !important;}
	main .popular .wrap:first-child {margin: auto !important;}

	footer .wrapper {margin-bottom: 0 !important;}
	footer .wrap {margin-top: 80px !important;}

	main .pricing h2 {font-size: 48px !important;}
	.pricing .wrapper {width: 95% !important;}
	main .pricing .wrap {
		flex-direction: row !important;
		justify-content: space-around !important;
	}

	main .pricing .block_pricing {display: none !important;}

	main .pricing .wrap-row {
		margin: 0 5px;
		align-items: center;
		flex-direction: column;
		display: flex !important;
	}

	main .pricing .wrap-row .block_pricing {
		height: 490px;
		display: block !important;
	}

	main .people .wrap div:nth-child(2) {margin: 0 0 30px 0 !important;}
	main .people .wrap {padding-bottom: 107px !important;}

	.block_pricing .name {height: 36px;}
	main .block_pricing:hover {background-color: rgba(0, 0, 0, 0.2) !important;}
}

@media screen and (min-width: 768px) {
	main .fork p {line-height: 20.45px;}
	main .here .wrapper {flex-direction: row;}
	main .here img {display: block !important;}
	main .here .wrap {order: 1 !important;}
	main .here .code {order: 2 !important;}
	main .here .wrapper {flex-direction: row !important;}
	main .here .codepen {
		right: 0 !important;
		margin: 69px 0 0 0 !important;
		width: 51.5% !important;
	}

	main .links {
		flex-direction: row !important;
		padding-bottom: 109px !important;
	}

	main .user p {margin: 48px 100px 25px 100px !important;}
	main .slider img {margin: 0 50px !important;}
	main .pricing .block_pricing:first-child {margin-bottom: 40px;}
	main .pricing .block_pricing:last-child {margin-top: 40px;}

	main .pricing .block_pricing:first-child:hover {
		bottom: 20px !important;
		margin-bottom: 5px !important;
	}

	main .pricing .block_pricing:last-child:hover {
		top: 20px !important;
		margin-top: 5px !important;
	}

	main .block_pricing:hover {
		position: relative !important;
		padding-bottom: 35px !important;
	}
}

@media screen and (min-width: 992px) {
	.wrapper {width: 95% !important;}
	header .logo {margin-right: 1% !important;}
	header nav li {padding: 31.45px !important;}
	header nav ul  {padding: 0 !important;}

	header nav li a {
		color: #635c73;
		font-weight: 700;
		list-style: none;
		line-height: 15px;
	}

	header button {
		border: none;
		width: 150px;
		height: 48px;
		color: #fff;
		font-weight: 700; 
		line-height: 15px;
		border-radius: 28px;
		padding: 0 !important;
		background-color: #8d81ac;
	}

	header nav {
		width: auto !important;
		height: auto !important;
		order: inherit !important;
		background: transparent !important;
	}

	.nav_menu { display: flex !important;}
	header button {display: block !important;}

	.nav_btn, .menu {display: none !important;}

	main .here .codepen {margin: 0 !important;}
	main .here .wrap span {padding-right: 7% !important;}

	main .pricing .text {margin: 133px 0 77px 0 !important;}

	main .people .wrap-row {flex-direction: column !important;}
	main .people .wrap {flex-direction: row !important;}
	main .people .wrap div:nth-child(2) {margin: 0 65px !important;}
	main .people .wrap div {
		height: auto !important;
		margin-bottom: 0 !important;
	}

	main .popular .wrap:first-child {margin: 0 !important;}
}

@media screen and (min-width: 1200px) {
	.wrapper {width: 100% !important;}
	header nav {margin-left: 210px;}
	main .here .code span {line-height: 20.45px;}
	main .here .codepen {
		right: auto !important;
		margin: 39px 0 0 -20px !important;
	}

	main .pricing .wrap-row {display: none !important;}
	main .pricing .block_pricing {display: block !important;}
	main .pricing .block_pricing:first-child {margin-bottom: 0;}
	main .pricing .block_pricing:last-child {margin-top: 0;}
	main .pricing .wrap {
		align-items: inherit !important;
		justify-content: space-between !important;
	}

	main .here img {
		height: 100%;
    	max-width: 710px;
	}

	main .pricing .block_pricing:first-child:hover {
		bottom: 0 !important;
		margin-bottom: 0 !important;
	}

	main .pricing .block_pricing:hover {
			top: 25px;
			margin-top: -35px !important;
		}
}