@import "media.css" all;
body {
	width: 100%;
	color: #333;
	margin: 0 auto;
	font-size: 16px;
	max-width: 1380px;
	font-family: Montserrat;
}

a {text-decoration: none;}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1170px;
}

header .wrapper {
	height: 104px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

header .logo,
footer .logo {
	display: flex;
    align-items: center;
	margin-right: 25.21367521367521%;
}

header .logo span,
footer .logo span {
	font-size: 24px;
	font-weight: 700;
	font-family: Lato;
	line-height: 16px;
	text-transform: uppercase;	
}

header .logo img,
footer .logo img {padding-right: 17px;}
header span.color,
footer span.color { color: #8d81ac; }

header nav {
	order: 3;
	cursor: pointer;
}

header nav ul {
	display: flex;
	padding: 0;
}

header nav li:first-child,
header nav li:last-child {padding: 0;}

header nav li {display: flex;}
 
.nav_menu,
header button {display: none;}

main .fork {
	height: 801px;
	font-weight: 400;
	background: url(../img/forkapp.png) center;
}

main .fork .wrapper,
main .editor .wrapper,
main .user .wrapper {
	text-align: center;
}

main .fork h2 {
	color: #fff;
	margin: 0;
	font-size: 62px;
	font-weight: 700;
	padding: 108px 0 18px 0 ;
}

main .fork p {
	color: #8d81ac;
	font-size: 30px;
	font-family: Lato;
	line-height: normal;	
	margin: 0  0 18px 0;
}

main .fork span {
	display: block;
	color: #848e97;
	line-height: 20.45px;
	text-transform: uppercase;
}

main .editor .download {
	position: relative;
    bottom: 31px;
}

main .editor button {
	color: #fff;
	width: 100%;
	height: 62px;
	border: none;
	font-size: 21px;
	font-weight: 700;
	border-radius: 28px;
	background: #8d81ac;
}

main .download span {
	display: block;
	color: #848e97;
	font-size: 14px;
	padding-top: 19px;
	font-weight: 400;
}

main .editor h2 {
	color: #635c73;
	font-size: 30px;
	font-weight: 700;
	margin: 66px 0 39px 0;
	text-transform: uppercase;
}

main .editor span.text {
	opacity: 0.8;
	display: block;
	font-size: 21px;
	font-weight: 400;
	padding: 0 12.60683760683761%;
	line-height: 32px;
	font-family: "Source Sans Pro";
}


main .editor .github{
	height: 26px;
	padding: 36px 0 70px 0;
	background: url(../img/github_buttons.png) no-repeat center;
}

main .here {background: #f4f4f4;}

main .here .wrapper {
	display: flex;
	flex-direction: column;
}

main .here .wrap {
	flex-basis: 50%;
	padding: 67px 0 69px 0;
}

main .here .wrap {order: 2;}
main .here .code {order: 1;}
main .here img {display: none;}

main .here .code span {
	display: block;
	color: #8d81ac;
	font-size: 48px;
	font-weight: 700;
	margin-top: 84px;
	text-align: center;
}

main .here .codepen {
	overflow: hidden;
    position: absolute;
}

main .here h4 {
	color: #323232;
	margin: 35px 0 15px 0;
	font-weight: 400;
}

main .here h4,
main .here .wrap span {
	padding: 0 87px 0 135px;
}

main .here .wrap span {
	display: block;
	color: #848e97;
	font-size: 14px;
	padding-right: 0;
	font-weight: 400;
	line-height: 21px;
}

main .here .webBetter {background: url(../img/icon.png) no-repeat;}
main .here .tool{background: url(../img/icon_2.png) no-repeat;}
main .here .experimental{background: url(../img/icon_3.png) no-repeat;}
main .here .creatred{background: url(../img/icon_4.png) no-repeat;}

main .userName span {
	color: #635c73;
	font-size: 24px;
	font-weight: 700;
	margin-left: 23px;
}
main .userName {
	display: flex;
	align-items: center;
	padding: 87px 0 0 0; 
	justify-content: center;
}

main .userName a {
	display: block;
	color: #8d81ac;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	margin: 7px 0 0 23px;
}

main .user p {
	font-size: 20px;
	line-height: 32px;
	margin: 48px 0 25px 0;
	font-family: "Source Sans Pro";
}

main .user p a {color: #8d81ac;}
main .slider {
	display: flex;
    align-items: center;
	}

main .slider img {
    height: 16px;
    display: block;
	cursor: pointer;
	margin: auto 5px;
}

main .slider span {color: #848e97;}

main .user br {
	border-bottom: 1px solid silver;
}

main .links i{
	right: 50px;
	font-size: 15px;
	text-align: left;
	position: relative;
}


main .user .wrap span {
	display: block;
	color: #848e97;
	font-size: 14px;
	margin: 18px 0 29px 0;
}

main .links a {
	width: 240px;
	height: 50px;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	border-radius: 5px;
	align-items: center;
	display: inline-flex;
	justify-content: center;
}

main .links {
	display: flex;
    padding-bottom: 30px;
	flex-direction: column;
    justify-content: space-evenly;
}
main .links a:nth-child(2) {margin: 0 40px;}

main .links .git {
	color: #333;
	background-color: #f3f3f3;
}

main .links .twi{
	color: #fff;
	background-color: #26a6d1;
}
main .links .fb {
	color: #fff;
	background-color: #3b5998;
}

main .user hr {
	width: 70%;
	margin: 60px auto;
    border: 1px solid #f4f4f4;
}

main .people {
	color: #fff;
	background: url(../img/bg_people.png) no-repeat #4A3B4E;
}

main .people h2 {
	margin: 0;
	padding: 95px 0;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

main .people .wrap {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	/* padding-bottom: 107px; */
}

main .people .wrap div {
	height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-around;
}

main .people .wrap div:nth-child(2) {margin: 0 0 30px 0;}

main .people .wrap-row {
	display: flex;
	flex-direction: column;
}

main .people span {
	display: block;
	font-weight: 400;
	padding-top: 37px;
	font-family: "Source Sans Pro - Bold It";
}

main .pricing {
	border: 1px solid transparent;
	background: url(../img/bg_Pricing.png) no-repeat #4A3B4E;
}

main .pricing .wrapper {text-align: center;}

main .pricing h2 {
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 60px;
}

main .pricing .wrap {
	display: flex;
	align-items: center;
    flex-direction: column;
	justify-content: space-between;
}

main .pricing .wrap-row { display: none; }

main .pricing .block_pricing {
	width: 274px;
	color: #fff;	
	margin-top: 14px;
	background-color: rgba(255, 255, 255, 0.11);
}

main .pricing .rang {
	font-size: 24px;
	font-weight: 400;
	padding: 45px 0 33px 0;
	text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.06);
}

main .pricing .price {
	font-size: 60px;
	font-weight: 700;
	margin: 36px 0 26px 0;
	text-transform: uppercase;
	font-family: "Montserrat - Bold";
}

main .pricing .price span {
	font-weight: 400;
	font-family: "Montserrat - Regular";
}

main .pricing .per {
	opacity: 0.3;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 38px;
	text-transform: uppercase;
}

main .pricing .line {
	height: 5px;
	width: 60px;
	margin: 0 auto;
	margin-bottom: 31px;
	background: #8d81ac;
}

main .pricing button {
	color: #fff;
	width: 160px;
	height: 42px;
	border: none;
	font-size: 15px;
	font-weight: 400;
	border-radius: 28px;
	margin: 36px 0 38px 0;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.15);
}

main .pricing .text {
	opacity: 0.8;
	display: block;
	color: #a291a5;
	font-size: 14px;
	font-weight: 400;
	margin: 41px 0 38px 0;
	font-family: "Source Sans Pro";
}

main .subscribe {
	padding: 55px 0;
	background: #f4f4f4;
}

main .subscribe .wrapper {text-align: center;}

main .subscribe span {
	display: block;
	font-size: 30px;
	font-weight: 700;
	color: #635c73;
    margin: 0 0 40px 0;
}

main .subscribe input[type="email"] {
	width: 90%;
	border: none;
	height: 42px;
	background: #fff;
	margin: 0 0 14px 0;
	padding: 0 0 0 15px;
	border-radius: 28px;
}

main .subscribe input[type="email"]::placeholder {
	color: #c8cbcf;
	font-size: 14px;
	font-weight: 400;
} 

main .subscribe input[type="button"] {
	color: #fff;
	width: 140px;
	height: 42px;
	border: none;
	font-size: 13px;
	font-weight: 400;
	background: #8d81ac;
	border-radius: 28px;
	font-family: Montserrat;
	text-transform: uppercase;
}

main .popular .wrapper,
footer .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main .popular .wrap:first-child {margin: 65px 0 0 0;}
main .popular .wrap {flex-basis: 30%;}

main .popular h3 {
	color: #d3d1da;
	font-size: 28px;
	font-weight: 700;
	margin: 14px 0 33px 0;
}

main .popular .wrap:first-child h5 {color: #323232;}
main .popular h5 {
	color: #8d81ac;;
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 400 bold;
}

main .popular span {
	color: #848e97;
	font-size: 13px;
	font-weight: 400;
}

main .popular button {
	border: none;
	width: 158px;
	height: 35px;
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #8d81ac;
	border-radius: 5px;
	background: #f4f4f4;
	margin: 36px 0 45px 0;
}

main .popular hr {
	width: 70%;
	margin: 0 auto;
    border: 1px solid #f4f4f4;
}

footer .wrapper {margin-bottom: 87px;}

footer .wrap {
	margin-top: 34px;
	flex-basis: 21.36752136752137%;
}

footer .logo {padding-bottom: 24px;}
footer span {
	color: #848e97;
	font-size: 14px;
	font-weight: 400;
}

footer span strong {
	color: #323232;
	letter-spacing: 0.32px;
}

footer ul {padding: 0;}

footer li {
	font-weight: 400;
	line-height: 23px;
	padding: 4px 0;
	list-style-type: none;
}

footer .number {
	color: #3f3f3f;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.6px;
}

footer .time {
	display: block;
	color: #848e97;
	font-size: 12px;
	font-weight: bold;
	margin: 14px 0 0 0;
	letter-spacing: 0.24px;
}

footer p {
	color: #323232;
	margin: 38px 0 21px 0;
	font-weight: bold;
}

footer .address {
    line-height: 23px;
    letter-spacing: 0.28px;
}

footer h5 {
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 24px 0;
	letter-spacing: 0.32px;
}
header .logo:hover,
main .here h4:hover,
main .here .codepen:hover,
main .editor .github:hover,
main .here .code span:hover,
main .userName:hover, a:hover,
img:hover, button:hover,
header .logo, footer .logo,
main .subscribe input[type="button"]:hover {cursor: pointer;}

header nav li a:hover {color: #8d81ac;}

header button:hover,
main .editor button:hover,
main .subscribe input[type="button"]:hover {background-color: #70477e;}

main .editor .github:hover,
main .here .code span:hover,
main .popular button:hover,
.people img:hover {opacity: 0.5;}

main .here h4:hover,
main .pricing button:hover {font-weight: 600;}

main .links .git:hover {background-color: #e4e4e4;}
main .links .twi:hover {background-color: #2190b5;}
main .links .fb:hover {background-color: #30487b;}

footer li a:hover {
	font-weight: 600;
    text-decoration: underline;
}

main .popular button:hover, {color: #70477e;}

:focus {outline: 0;}

.nav_btn {
	width: 26px;
	height: 21px;
	display: block;
	background: url(../img/upMenu.png) no-repeat;
}


.menu {
    top: 0;
    right: 0;
    width: 0;
	width: 50%;
	z-index: 10;
	height: 100%;
	display: none;
    position: fixed;
    transition: 0.5s;
    padding-top: 3rem;
    overflow-x: hidden;
    background-color: #8d81ac;
}

.menu a {
    color: #fff;
    display: block;
    transition: 0.5s;
    padding: 0 1rem 1rem;
    text-decoration: none;
}

.menu a:hover {
	font-weight: 600;
	text-decoration: underline;
}

.close {
    top: 0;
    font-size: 1.5rem;
    position: relative;
}

.flex_button {display: flex;}

.menu button {
    padding: 0;
    border: none;
    width: 100px;
    height: 32px;
	display: block;
    color: #8d81ac;
    font-weight: 700;
    line-height: 15px;
    border-radius: 28px;
    background-color: #fff;
}

.menu button:hover {
	opacity: 0.5;
	color: #70477e;
	background-color: #fff;
}

.blackout {
	top: 0;
    left: -50%;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 992px;
    background-color: #8d81ac;
    display: inline-block;
    z-index: 0;
    opacity: 0.5;
}